<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stockbeaver">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StockBeaver">
        <activity
            android:name=".companyInfoTabs"
            android:exported="true"
            android:label="@string/title_activity_company_info"
            android:theme="@style/Theme.StockBeaver.NoActionBar" />
        <activity
            android:name=".MainPage"
            android:exported="true"
            android:label="@string/title_activity_main_page" />

        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/Theme.StockBeaver" />
        <activity
            android:name=".Signup"
            android:label="@string/app_name" />
        <activity
            android:name=".ViewStockDetail"
            android:label="@string/app_name" />
        <activity
            android:name=".AddStockWatchlist"
            android:label="@string/app_name" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.StockBeaver.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>